<div fxLayout="row" fxLayoutAlign="space-between center">
  <ng-container
    *ngIf="{ total: expenseQuery.expenseTotal$ | async } as context"
  >
    <label i18n="@@headerExpenseLabel"
      >{context.total, plural, =0 {0 expense} =1 {1 expense} other
      {{{context.total}} expenses}}</label
    >
  </ng-container>
  <h1>Cleemy</h1>
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutGap="1em">
      <label i18n="@@headerCurrencyLabel">Currency</label>
      <p-dropdown
        [ngModel]="defaultCurrency"
        [options]="currencyQuery.currencies$ | async"
        (onChange)="selectCurrency($event)"
      ></p-dropdown>
    </div>
  </div>
</div>
