<div fxLayout="row" fxLayoutAlign="space-between center">
  <ng-container *ngIf="expenseQuery.expenseTotal$ | async as total">
    <label i18n="@@headerExpenseLabel"
      >{total, plural, =0 {0 expense} =1 {1 expense} other
      {{{total}} expenses}}</label
    >
  </ng-container>
  <h1>Cleemy</h1>
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutGap="1em">
      <label i18n="@@headerCurrencyLabel">Currency</label>
      <p-dropdown
        [ngModel]="defaultCurrency"
        [options]="currencyQuery.currencies$ | async"
        (onChange)="selectCurrency($event)"
      ></p-dropdown>
    </div>
  </div>
</div>
