<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="column" fxLayoutAlign="center">
    {{ expenseQuery.expenseTotal$ | async }} expenses
  </div>
  <div fxLayout="column" fxLayoutAlign="center"><h1>Cleemy</h1></div>
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayoutGap="1em">
      <label>Currency</label>
      <p-dropdown
        [ngModel]="defaultCurrency"
        [options]="currencyQuery.currencies$ | async"
        (onChange)="selectCurrency($event)"
      ></p-dropdown>
    </div>
  </div>
</div>
