<p-dialog
  [header]="header"
  [visible]="visible$ | async"
  [closable]="false"
  [modal]="true"
>
  <form [formGroup]="form">
    <div class="form-grid ui-fluid">
      <label>Date of expense</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <p-calendar
          formControlName="purchasedOn"
          appendTo="body"
          [maxDate]="defaultDate"
        ></p-calendar>
        <label
          class="form-error"
          *ngIf="
            formControls.purchasedOn.dirty && !formControls.purchasedOn.valid
          "
          >Date of expense is required.</label
        >
      </div>

      <label>Nature</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <input pInputText formControlName="nature" />
        <div *ngIf="formControls.nature.dirty && formControls.nature.errors">
          <label class="form-error" *ngIf="formControls.nature.errors.required"
            >Nature is required.</label
          >
          <label class="form-error" *ngIf="formControls.nature.errors.maxlength"
            >Nature must be {{ NATURE_MAX_LENGTH }} caracters or less.</label
          >
        </div>
      </div>

      <label>Amount</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <div fxLayoutGap="1em">
          <input pInputText formControlName="amount" pKeyFilter="pnum" />
          <p-dropdown
            #currency
            appendTo="body"
            [options]="currencyQuery.currencies$ | async"
            formControlName="currency"
          ></p-dropdown>
        </div>
        <label
          class="form-error"
          *ngIf="formControls.amount.dirty && !formControls.amount.valid"
          >Amount is required.</label
        >
      </div>

      <ng-container *ngIf="currency.value !== defaultCurrency">
        <label>Euro amount</label>
        <div fxLayoutGap="1em">
          <input readonly pInputText formControlName="convertedAmount" />
          <label>€</label>
        </div>
      </ng-container>

      <label>Comment</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <textarea pInputTextarea formControlName="comment"></textarea>
        <div *ngIf="formControls.comment.dirty && formControls.comment.errors">
          <label class="form-error" *ngIf="formControls.comment.errors.required"
            >Comment is required.</label
          >
          <label
            class="form-error"
            *ngIf="formControls.comment.errors.maxlength"
            >Comment must be {{ COMMENT_MAX_LENGTH }} caracters or less.</label
          >
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div fxLayoutAlign="end" fxLayoutGap="1em">
      <button
        pButton
        [label]="saveButtonLabel"
        [disabled]="!form.valid"
        (click)="save(false)"
      ></button>
      <button
        pButton
        *ngIf="isCreate"
        [disabled]="!form.valid"
        (click)="save(true)"
      >
        Create and add
      </button>
      <button pButton (click)="close()">Cancel</button>
    </div>
  </p-footer>
</p-dialog>
