<p-dialog
  [header]="header"
  [visible]="visible$ | async"
  [closable]="false"
  [modal]="true"
>
  <form [formGroup]="form">
    <div class="form-grid ui-fluid">
      <label i18n="@@expenseDialogExpenseDate">Date of expense</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <p-calendar
          formControlName="purchasedOn"
          appendTo="body"
          [maxDate]="defaultDate"
        ></p-calendar>
        <label
          class="form-error"
          *ngIf="
            formControls.purchasedOn.dirty && !formControls.purchasedOn.valid
          "
          i18n="@@expenseDialogExpenseDateRequiredError"
          >Date of expense is required.</label
        >
      </div>

      <label i18n="@@expenseDialogNature">Nature</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <input pInputText formControlName="nature" />
        <div *ngIf="formControls.nature.dirty && formControls.nature.errors">
          <label
            class="form-error"
            *ngIf="formControls.nature.errors.required"
            i18n="@@expenseDialogNatureRequiredError"
            >Nature is required.</label
          >
          <label
            class="form-error"
            *ngIf="formControls.nature.errors.maxlength"
            i18n="@@expenseDialogNatureMaxlengthError"
            >Nature must be {{ NATURE_MAX_LENGTH }} caracters or less.</label
          >
        </div>
      </div>

      <label i18n="@@expenseDialogAmount">Amount</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <div fxLayoutGap="1em">
          <input pInputText formControlName="amount" pKeyFilter="pnum" />
          <p-dropdown
            #currency
            appendTo="body"
            [options]="currencyQuery.currencies$ | async"
            formControlName="currency"
          ></p-dropdown>
        </div>
        <label
          class="form-error"
          *ngIf="formControls.amount.dirty && !formControls.amount.valid"
          i18n="@@expenseDialogAmountRequiredError"
          >Amount is required.</label
        >
      </div>

      <ng-container *ngIf="currency.value !== defaultCurrencyCode">
        <ng-container *ngIf="defaultCurrency$ | async as defaultCurrency">
          <label i18n="@@expenseDialogConvertedAmount"
            >{{ defaultCurrency.name }} amount</label
          >
          <div fxLayoutGap="1em">
            <input readonly pInputText formControlName="convertedAmount" />
            <label>{{ defaultCurrency.symbol }}</label>
          </div>
        </ng-container>
      </ng-container>

      <label i18n="@@expenseDialogComment">Comment</label>
      <div fxLayout="column" fxLayoutGap="0.2em">
        <textarea pInputTextarea formControlName="comment"></textarea>
        <div *ngIf="formControls.comment.dirty && formControls.comment.errors">
          <label
            class="form-error"
            *ngIf="formControls.comment.errors.required"
            i18n="@@expenseDialogCommentRequiredError"
            >Comment is required.</label
          >
          <label
            class="form-error"
            *ngIf="formControls.comment.errors.maxlength"
            i18n="@@expenseDialogCommentMaxlengthError"
            >Comment must be {{ COMMENT_MAX_LENGTH }} caracters or less.</label
          >
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div fxLayoutAlign="end" fxLayoutGap="1em">
      <button
        pButton
        [label]="saveButtonLabel"
        [disabled]="!form.valid"
        (click)="save(false)"
      ></button>
      <button
        pButton
        *ngIf="isCreate"
        [disabled]="!form.valid"
        (click)="save(true)"
        i18n="@@expenseDialogCreateAndAddButton"
      >
        Create and add
      </button>
      <button pButton (click)="close()" i18n="@@expenseDialogCancelButton">
        Cancel
      </button>
    </div>
  </p-footer>
</p-dialog>
